<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>志怪录</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates">
	<meta name="author" content="">

    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
	<!-- Definity CSS -->
  	<link href="../static/css/zerogrid.css" rel="stylesheet" media="all" type="text/css">
	<link href="../static/css/style.css" rel="stylesheet" media="all" type="text/css">
	<link href="../static/css/menu.css" rel="stylesheet" media="all" type="text/css">
	<!-- Lightbox -->
	<link href="../static/css/lightbox.css" rel="stylesheet" media="all" type="text/css">
	<!-- Video Background -->
	<link href="../static/css/jquery.mb.ytplayer.min.css" rel="stylesheet" media="all" type="text/css">
	<!-- Animate.css -->
	<link href="../static/css/animate.css" rel="stylesheet" media="all" type="text/css">

	<!-- Custom Fonts -->
	<link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Owl Carousel Assets -->
    <link href="../static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <!-- <link href="../static/owl-carousel/owl.theme.css" rel="stylesheet"> -->

	<!-- JS -->



	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="../static/js/html5.js"></script>
		<script src="../static/js/css3-mediaqueries.js"></script>
	<![endif]-->

</head>
<body id="page-top" class="sub-page">
<div class="wrap-body">

	<!--////////////////////////////////////Header-->
	<header>
		<div class="wrap-header" >

			<!---Main Header--->
			<div class="main-header">
				<div class="bg-overlay">
					<!---Hero Content--->
					<div class="hero-content-wrapper">
					  <div class="hero-content">
						<h4 class="h-alt hero-subheading wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">Add Monsters</h4>
						<h1 class="hero-lead wow fadeInLeft" data-wow-duration="1.5s">创建新妖怪</h1>
					  </div>
					</div>
				</div>
			</div>

			<!---Top Menu--->
			<div id="cssmenu" >
				<ul>
				   <li class="active"><a href="./"><span>志怪录</span></a></li>
				   <li class="has-sub"><a href="./catalog"><span>妖怪图鉴</span></a>
					  <ul>
						 <li><a href="catalog_shj"><span><b>山海经</b></span></a></li>
						 <li><a href="catalog_zgbgl"><span>百鬼录</span></a></li>
						 <li><a href="catalog_ssj"><span>搜神记</span></a></li>
						 <li><a href="catalog_lzzy"><span>聊斋志异</span></a></li>
						 <li><a href="catalog_qt"><span>其他</span></a></li>
					  </ul>
				   </li>
				   <li class="has-sub"><a href="#"><span>志怪分布图</span></a>
                        <ul>
                            <li><a href="./map2"><span><b>山海经</b></span></a></li>
						    <li><a href="./map1"><span>其他</span></a></li>
                        </ul>
                    </li>
				   <li><a href="addpage"><span>新怪物</span></a></li>
				   <li class="last"><a href="contact"><span>关于</span></a></li>
				</ul>

			</div>

		</div>
	</header>
	
	<!--////////////////////////////////////Container-->
	<section id="page-content">
		<section class="content-box box-5">
			<div class="zerogrid">
				<div class="wrap-box"><!--Start Box-->
					<div class="comments-are">
						<div id="comment">
							<h3  style="text-align:center;">怪物信息录入</h3>
                            <br>
							<form name="form1" id="comment_form" method="post" action="" enctype="multipart/form-data">
								<label>
									<span>怪物名称:</span>
									<input type="text"  name="monster_name" id="monster_name" required>
								</label>
								<label>
									<span>别名:</span>
									<input type="text"  name="another_name" id="another_name" required>
								</label>
								<label>
									<span>活动地点:</span>
									<input type="text"  name="places" id="places" required>
								</label>
								<label>
									<span>外貌:</span>
									<input type="text"  name="appearance" id="appearance" required>
								</label>
								<label>
									<span>技能:</span>
									<input type="text"  name="skill" id="skill" required>
								</label>
								<label>
									<span>白话故事:</span>
									<textarea name="baihua" id="baihua"></textarea>
								</label> 
								<label>
									<span>古文引用:</span>
									<textarea name="guwen" id="guwen"></textarea>
								</label>
								<label>
									<span>图片:</span>
									<input type="file" multiple name="file">
								</label>
								<center><input class="button button-skin " type="submit" name="SubmitComment" value="Submit"></center>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	

	<!--////////////////////////////////////Footer-->
	<footer id="page-footer">
		<div class="zerogrid wrap-footer">
			<div class="row">
				<div class="sm-1-4 col-footer-1">
					<div class="wrap-col">
						<h3 class="widget-title">关于我们</h3>
						<p>小组成员</p>
						<p>3170101799      何墨琪</p>
                        <p>3170102473  章含挺</p>
                        <p>3170102472  吕科瑶</p>
                        <p>3170104579  张婧</p>
                        <p>3170102466  周姿含</p>
					</div>
				</div>
				<div class="sm-1-4 col-footer-2">
					<div class="wrap-col">
						<h3 class="widget-title">新文章</h3>
						<ul>
							<li><a href="#">搜神记传说——惊！！竟然...</a></li>
							<li><a href="#">妖怪雨师妾竟有两副面孔</a></li>
							<li><a href="#">揭秘无人不爱的妖怪钱流背后的秘密</a></li>
						</ul>
					</div>
				</div>
				<div class="sm-1-4 col-footer-3">
					<div class="wrap-col">
						<h3 class="widget-title">关键词</h3>
						<a href="#">人</a>
						<a href="#">仙</a>
						<a href="#">神</a>
						<a href="#">妖</a>
						<a href="#">鬼</a>
						<a href="#">魔</a>
						<a href="#">山海经</a>
						<a href="#">百鬼录</a>
						<a href="#">聊斋</a>
						<a href="#">搜神记</a>
					</div>
				</div>
				<div class="sm-1-4 col-footer-4">
					<div class="wrap-col">
						<h3 class="widget-title">图片</h3>
						<div class="row">
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/1.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/2.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/3.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/4.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/5.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/6.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/7.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/8.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/1.jpg"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="zerogrid bottom-footer">
			<div class="copyright">
				Copyright @ - DAM 志怪录  Template Reference - http://www.cssmoban.com
			</div>
		</div>
	</footer>


	<!-- ========== Scripts ========== -->
	<script src="../static/js/jquery-3.1.1.min.js"></script>
	<script src="../static/js/menu.js"></script>
	<script src="../static/js/jquery.localScroll.min.js"></script>
	<script src="../static/js/jquery.scrollTo.min.js"></script>
	<script src="../static/js/SmoothScroll.js"></script>
	<script src="../static/js/wow.min.js"></script>
	<script type=text/javascript>
		<!--
		swfobject.registerObject("FlashID");
		//-->
	</script>
	<script type=text/javascript>
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc2c6bed2d140c53e5cde2fbb263011f6' type='text/javascript'%3E%3C/script%3E"));
	</script>



	<!-- Definity JS -->
	<script src="../static/js/main.js"></script>

</div>
</body></html>