<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>志怪录</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates">
	<meta name="author" content="">

    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
	<!-- Definity CSS -->
  	<link href="../static/css/zerogrid.css" rel="stylesheet" media="all" type="text/css">
	<link href="../static/css/style.css" rel="stylesheet" media="all" type="text/css">
	<link href="../static/css/menu.css" rel="stylesheet" media="all" type="text/css">
	<!-- Lightbox -->
	<link href="../static/css/lightbox.css" rel="stylesheet" media="all" type="text/css">
	<!-- Video Background -->
	<link href="../static/css/jquery.mb.ytplayer.min.css" rel="stylesheet" media="all" type="text/css">
	<!-- Animate.css -->
	<link href="../static/css/animate.css" rel="stylesheet" media="all" type="text/css">

	<!-- Custom Fonts -->
	<link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Owl Carousel Assets -->
    <link href="../static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <!-- <link href="../static/owl-carousel/owl.theme.css" rel="stylesheet"> -->

	<!-- JS -->



	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="../static/js/html5.js"></script>
		<script src="../static/js/css3-mediaqueries.js"></script>
	<![endif]-->
	<style>
		#button1 { /* 按钮美化 */
			width: 100px; /* 宽度 */
			height: 40px; /* 高度 */
			border-width: 0px; /* 边框宽度 */
			border-radius: 3px; /* 边框半径 */
			background: #da9802de; /* 背景颜色 */
			cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
			outline: none; /* 不显示轮廓线 */
			font-family: Microsoft YaHei; /* 设置字体 */
			color: white; /* 字体颜色 */
			font-size: 17px; /* 字体大小 */
			margin: 10px;
		}
		#button1:hover { /* 鼠标移入按钮范围时改变颜色 */
			background: #ffffff;
			border-width: 1px; /* 边框宽度 */
			border-color: grey;
			color: grey; /* 字体颜色 */
		}
		#button2 { /* 按钮美化 */
			width: 100px; /* 宽度 */
			height: 40px; /* 高度 */
			border-width: 0px; /* 边框宽度 */
			border-radius: 3px; /* 边框半径 */
			background: #da9802de; /* 背景颜色 */
			cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
			outline: none; /* 不显示轮廓线 */
			font-family: Microsoft YaHei; /* 设置字体 */
			color: white; /* 字体颜色 */
			font-size: 17px; /* 字体大小 */
			margin: 10px;
		}
		#button2:hover { /* 鼠标移入按钮范围时改变颜色 */
			background: #ffffff;
			border-width: 1px; /* 边框宽度 */
			border-color: grey;
			color: grey; /* 字体颜色 */
		}
	</style>
</head>
<body id="page-top" class="sub-page">
<div class="wrap-body">

	<!--////////////////////////////////////Header-->
	<header>
		<div class="wrap-header" >

			<!---Main Header--->
			<div class="main-header" style="background: url(../static/image/hero.jpg) center center;background-size: 100%;">
				<div class="bg-overlay">
					<!---Hero Content--->
					<div class="hero-content-wrapper">
					  <div class="hero-content">
						<h4 class="h-alt hero-subheading wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">Catalog</h4>
						<h1 class="hero-lead wow fadeInLeft" data-wow-duration="1.5s">目录</h1>
					  </div>
					</div>
				</div>
			</div>

			<!---Top Menu--->
			<div id="cssmenu" >
				<ul>
				   <li class="active"><a href="./"><span>志怪录</span></a></li>
				   <li class="has-sub"><a href="./catalog"><span>妖怪图鉴</span></a>
					  <ul>
						 <li><a href="catalog_shj"><span><b>山海经</b></span></a></li>
						 <li><a href="catalog_zgbgl"><span>百鬼录</span></a></li>
						 <li><a href="catalog_ssj"><span>搜神记</span></a></li>
						 <li><a href="catalog_lzzy"><span>聊斋志异</span></a></li>
						 <li><a href="catalog_qt"><span>其他</span></a></li>
					  </ul>
				   </li>
				   <li class="has-sub"><a href="#"><span>志怪分布图</span></a>
                        <ul>
                            <li><a href="./map2"><span><b>山海经</b></span></a></li>
						    <li><a href="./map1"><span>其他</span></a></li>
                        </ul>
                    </li>
				   <li><a href="addpage"><span>新怪物</span></a></li>
				   <li class="last"><a href="contact"><span>关于</span></a></li>
				</ul>

			</div>

		</div>
	</header>

	<!--////////////////////////////////////Container-->
	<section id="page-content">
		<!-----------------content-box-3-示例妖怪------------------->
		<section class="content-box box-3 box-style-1">
			<div class="zerogrid">
				<div class="wrap-box"><!--Start Box-->
					<div class="header wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
						<h1><b>《搜神记》</b></h1>
						<span class="intro">Monsters in Sou Shen Ji</span>
					</div>
					{% for i in range(0,page_num-1) %}
					<div class="content wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
						{% for j in range(0, 40) %}
						<div class="lg-1-4 md-1-3 sm-1-2">
							<div class="wrap-col">
								<div class="product">
									<div class="product-content">
										<div class="row">
											<h2 class="product-title"><a href="/monster_id={{ cjson['《搜神记》']['id'][40*i+j] }}">{{cjson['《搜神记》']['怪物名称'][40*i+j]}}</a></h2>
											<div class="categories">
												<a rel="tag">{{cjson['《搜神记》']['活动地点'][40*i+j]}}</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					{% endfor %}
					<div class="content wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
						{% for j in range(page_num*40-40, number) %}
						<div class="lg-1-4 md-1-3 sm-1-2">
							<div class="wrap-col">
								<div class="product">
									<div class="product-content">
										<div class="row">
											<h2 class="product-title"><a href="/monster_id={{ cjson['《搜神记》']['id'][j] }}">{{cjson['《搜神记》']['怪物名称'][j]}}</a></h2>
											<div class="categories">
												<a rel="tag">{{cjson['《搜神记》']['活动地点'][j]}}</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>


		<div class="skip-button" style="position:relative;text-align: center">
			<div class="crumbs" style="background: url(../static/images/background.jpg) no-repeat;background-size:100%;margin-bottom: 0px;">
				<button class="prev" id="button1">上一页</button>
				<button class="next" id="button2">下一页</button>
			</div>
		</div>
	</section>

	<!--////////////////////////////////////Footer-->
	<footer id="page-footer">
		<div class="zerogrid wrap-footer">
			<div class="row">
				<div class="sm-1-4 col-footer-1">
					<div class="wrap-col">
						<h3 class="widget-title">关于我们</h3>
						<p>小组成员</p>
						<p>3170101799      何墨琪</p>
                        <p>3170102473  章含挺</p>
                        <p>3170102472  吕科瑶</p>
                        <p>3170104579  张婧</p>
                        <p>3170102466  周姿含</p>
					</div>
				</div>
				<div class="sm-1-4 col-footer-2">
					<div class="wrap-col">
						<h3 class="widget-title">新文章</h3>
						<ul>
							<li><a href="#">搜神记传说——惊！！竟然...</a></li>
							<li><a href="#">妖怪雨师妾竟有两副面孔</a></li>
							<li><a href="#">揭秘无人不爱的妖怪钱流背后的秘密</a></li>
						</ul>
					</div>
				</div>
				<div class="sm-1-4 col-footer-3">
					<div class="wrap-col">
						<h3 class="widget-title">关键词</h3>
						<a href="#">人</a>
						<a href="#">仙</a>
						<a href="#">神</a>
						<a href="#">妖</a>
						<a href="#">鬼</a>
						<a href="#">魔</a>
						<a href="#">山海经</a>
						<a href="#">百鬼录</a>
						<a href="#">聊斋</a>
						<a href="#">搜神记</a>
					</div>
				</div>
				<div class="sm-1-4 col-footer-4">
					<div class="wrap-col">
						<h3 class="widget-title">图片</h3>
						<div class="row">
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/1.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/2.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/3.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/4.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/5.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/6.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/7.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/8.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/1.jpg"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="zerogrid bottom-footer">
			<div class="copyright">
				Copyright @ - DAM 志怪录  Template Reference - http://www.cssmoban.com
			</div>
		</div>
	</footer>


	<!-- ========== Scripts ========== -->
	<script src="../static/js/jquery-3.1.1.min.js"></script>
	<script src="../static/js/menu.js"></script>
	<script src="../static/js/jquery.localScroll.min.js"></script>
	<script src="../static/js/jquery.scrollTo.min.js"></script>
	<script src="../static/js/SmoothScroll.js"></script>
	<script src="../static/js/wow.min.js"></script>
	<script type="text/javascript">
		//封装函数、图片显示的部分、传入获取到的div，和被点击的序号
		function toggle(eles, active) {
			for(var i = eles.length; i--;) {
				eles[i].style.display = "none"; //先让所有div隐藏
			}
			eles[active].style.display = "block";//再让被点击的序号对应的div 显示
			location.href="#";
		}
		//获取按键和div
		var aItem = document.getElementsByClassName("content wow fadeIn");
		var prev = document.getElementsByClassName("prev");
		var next =  document.getElementsByClassName("next");
		var nowPage = 0; //定义当前页，默认值为0；
		var pagenum = aItem.length;
		toggle(aItem,0);

	   //下一页
		next[0].onclick = function () {
			if(nowPage<pagenum-1)
			{
				nowPage++;
				toggle(aItem,nowPage);
			}
		}

		//上一页
		prev[0].onclick=function(){
			if(nowPage>0)
			{
				nowPage--;
				toggle(aItem,nowPage);
			}
		}

	</script>

	<!-- Definity JS -->
	<script src="../static/js/main.js"></script>

</div>
</body></html>