<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>志怪录-地图</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates">
	<meta name="author" content="">

    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
	<!-- Definity CSS -->
  	<link href="../static/css/zerogrid.css" rel="stylesheet" media="all" type="text/css">
	<link href="../static/css/style.css" rel="stylesheet" media="all" type="text/css">
	<link href="../static/css/menu.css" rel="stylesheet" media="all" type="text/css">
	<!-- Lightbox -->
	<link href="../static/css/lightbox.css" rel="stylesheet" media="all" type="text/css">
	<!-- Video Background -->
	<link href="../static/css/jquery.mb.ytplayer.min.css" rel="stylesheet" media="all" type="text/css">
	<!-- Animate.css -->
	<link href="../static/css/animate.css" rel="stylesheet" media="all" type="text/css">

	<!-- Custom Fonts -->
	<link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Owl Carousel Assets -->
    <link href="../static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->

	<!-- JS -->



	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->

</head>
<body id="page-top" class="sub-page">
<div class="wrap-body">

	<!--////////////////////////////////////Header-->
	<header>
		<div class="wrap-header" >

			<!---Main Header--->
			<div class="main-header"  style="background: url(../static/image/hero.jpg) center center;background-size: 100%;">
				<div class="bg-overlay">
					<!---Hero Content--->
					<div class="hero-content-wrapper">
					  <div class="hero-content">
						<h4 class="h-alt hero-subheading wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">Monsters in</h4>
						<h1 class="hero-lead wow fadeInLeft" data-wow-duration="1.5s">Ancient China</h1>
					  </div>
					</div>
				</div>
			</div>

			<!---Top Menu--->
			<div id="cssmenu" >
				<ul>
				   <li class="active"><a href="./"><span>志怪录</span></a></li>
				   <li class="has-sub"><a href="./catalog"><span>妖怪图鉴</span></a>
					  <ul>
						 <li><a href="catalog_shj"><span><b>山海经</b></span></a></li>
						 <li><a href="catalog_zgbgl"><span>百鬼录</span></a></li>
						 <li><a href="catalog_ssj"><span>搜神记</span></a></li>
						 <li><a href="catalog_lzzy"><span>聊斋志异</span></a></li>
						 <li><a href="catalog_qt"><span>其他</span></a></li>
					  </ul>
				   </li>
				   <li class="has-sub"><a href="#"><span>志怪分布图</span></a>
                        <ul>
                            <li><a href="./map2"><span><b>山海经</b></span></a></li>
						    <li><a href="./map1"><span>其他</span></a></li>
                        </ul>
                    </li>
				   <li><a href="addpage"><span>新怪物</span></a></li>
				   <li class="last"><a href="contact"><span>关于</span></a></li>
				</ul>

			</div>
		</div>
	</header>

	<!--////////////////////////////////////Container-->
	<section id="page-content" style="background: url(../static/images/background.jpg);background-size: 100% 5%;">
		<div class="wrap-container zerogrid">
			<div class="crumbs">
				<ul>
					<li><a href="./">主页</a></li>
					<li><a href="#">山海经怪物分布图</a></li>
				</ul>
			</div>
			<div id="about-us">
				<article class="post-entry single-post">
					<div class="wrap-post">
						<div class="entry-header">
							<h2 class="entry-title">山海经怪物分布图</h2>
							<div class="entry-meta">
								<a href="#"><i class="fa fa-calendar"></i>2019.11.2</a>
							</div>
						</div>
                        <div id="container" style="height: 86vh"></div>
						<section class="content-box box-3 box-style-4" style="background-color:rgba(250,250,250,0)">
							{% for key in mjson.items() %}
							<div class="zerogrid">
								<div class="wrap-box"><!--Start Box-->
									<div>
										<h4 style="height:6vh" id="{{'position'+ key[1]['position_id']}}">{{key[1]['position_name']}}</h4>
										<div class="content wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
											{% for i in range(0,key[1]['monster_number']) %}
												<div class="lg-1-4 md-1-3 sm-1-2">
													<div class="wrap-col">
														<div class="product">
															<div class="product-content" style="padding: 20px 0 30px;">
																<div class="row">
																	<h2 class="product-title"><a href="/monster_id={{ key[1]['monster_id'][i] }}">{{key[1]['monster_name'][i]}}</a></h2>
																	<div class="categories">
																		<a rel="tag">{{key[1]['position_name']}}</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</section>
					</div>
				</article>
			</div>
		</div>
	</section>

	<!--////////////////////////////////////Footer-->
	<footer id="page-footer" >
		<div class="zerogrid wrap-footer">
			<div class="row">
				<div class="sm-1-4 col-footer-1">
					<div class="wrap-col">
						<h3 class="widget-title">关于我们</h3>
						<p>小组成员</p>
						<p>3170101799      何墨琪</p>
                        <p>3170102473  章含挺</p>
                        <p>3170102472  吕科瑶</p>
                        <p>3170104579  张婧</p>
                        <p>3170102466  周姿含</p>
					</div>
				</div>
				<div class="sm-1-4 col-footer-2">
					<div class="wrap-col">
						<h3 class="widget-title">新文章</h3>
						<ul>
							<li><a href="#">搜神记传说——惊！！竟然...</a></li>
							<li><a href="#">妖怪雨师妾竟有两副面孔</a></li>
							<li><a href="#">揭秘无人不爱的妖怪钱流背后的秘密</a></li>
						</ul>
					</div>
				</div>
				<div class="sm-1-4 col-footer-3">
					<div class="wrap-col">
						<h3 class="widget-title">关键词</h3>
						<a href="#">人</a>
						<a href="#">仙</a>
						<a href="#">神</a>
						<a href="#">妖</a>
						<a href="#">鬼</a>
						<a href="#">魔</a>
						<a href="#">山海经</a>
						<a href="#">百鬼录</a>
						<a href="#">聊斋</a>
						<a href="#">搜神记</a>
					</div>
				</div>
				<div class="sm-1-4 col-footer-4">
					<div class="wrap-col">
						<h3 class="widget-title">图片</h3>
						<div class="row">
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/1.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/2.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/3.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/4.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/5.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/6.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/7.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/8.jpg"></a>
								</div>
							</div>
							<div class="sm-1-3 xs-1-2">
								<div class="wrap-col">
									<a href="#"><img src="../static/image/1.jpg"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="zerogrid bottom-footer">
			<div class="copyright">
				Copyright @ - DAM 志怪录  Template Reference - http://www.cssmoban.com
			</div>
		</div>
	</footer>


    <!-- ========== Scripts of map========== -->
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=lLHnyLnE71miXOptTE7ZuX3iz780SRFK"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
       <script type="text/javascript">
            var dom = document.getElementById("container");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;
            var data = [
                {name:'三危山',value:2, url:'#position001'},
                {name:'鸟鼠同穴山',value:1, url:'#position002'},
                {name:'蔓渠山',value:1, url:'#position003'},
                {name:'杻阳山',value:1, url:'#position004'},
                {name:'东始山',value:1, url:'#position005'},
                {name:'槐江山',value:1, url:'#position006'},
                {name:'白於山',value:1, url:'#position007'},
                {name:'章莪山',value:2, url:'#position008'},
                {name:'梁渠山',value:1, url:'#position009'},
                {name:'夫夫山',value:1, url:'#position010'},
                {name:'崦嵫山',value:2, url:'#position011'},
                {name:'平逢山',value:1, url:'#position012'},
                {name:'栒状山',value:1, url:'#position013'},
                {name:'泰山',value:1, url:'#position014'},
                {name:'几山',value:1, url:'#position015'},
                {name:'天帝山',value:2, url:'#position016'},
                {name:'招摇山',value:1, url:'#position017'},
                {name:'泰器山',value:1, url:'#position018'},
                {name:'阳山',value:2, url:'#position019'},
                {name:'鹿吴山',value:2, url:'#position020'},
                {name:'倚帝山',value:1, url:'#position021'},
                {name:'即公山',value:1, url:'#position022'},
                {name:'尸胡山',value:1, url:'#position023'},
                {name:'钱来山',value:1, url:'#position024'},
                {name:'阴山',value:1, url:'#position025'},
                {name:'大咸山',value:1, url:'#position026'},
                {name:'玉山',value:2, url:'#position027'},
                {name:'令丘山',value:1, url:'#position028'},
                {name:'小侯山',value:1, url:'#position029'},
                {name:'小次山',value:1, url:'#position030'},
                {name:'昆吾山',value:1, url:'#position031'},
                {name:'潘侯山',value:1, url:'#position032'},
                {name:'涿光山',value:1, url:'#position033'},
                {name:'翼望山',value:1, url:'#position034'},
                {name:'蛇山',value:2, url:'#position035'},
                {name:'柜山',value:2, url:'#position036'},
                {name:'中曲山',value:1, url:'#position037'},
                {name:'太华山',value:1, url:'#position038'},
                {name:'堇理山',value:1, url:'#position039'},
                {name:'霍山',value:1, url:'#position040'},
                {name:'长右山',value:1, url:'#position041'},
                {name:'蔓联山',value:1, url:'#position042'},
                {name:'天山',value:1, url:'#position043'},
                {name:'崇吾山',value:2, url:'#position044'},
                {name:'釐山',value:2, url:'#position045'},
                {name:'洞庭山',value:1, url:'#position046'},
                {name:'邽山',value:1, url:'#position047'},
                {name:'丰山',value:1, url:'#position048'},
                {name:'敖岸山',value:1, url:'#position049'},
                {name:'黄山',value:1, url:'#position050'},
                {name:'带山',value:1, url:'#position051'},
                {name:'卢其山',value:1, url:'#position052'},
                {name:'耿山',value:1, url:'#position053'},
                {name:'青要山',value:1, url:'#position054'},
                {name:'钟山',value:1, url:'#position055'},
                {name:'边春山',value:1, url:'#position056'},
                {name:'苦山',value:1, url:'#position057'},
                {name:'余峨山',value:1, url:'#position058'},
                {name:'踇隅山',value:1, url:'#position059'},
                {name:'尧光山',value:1, url:'#position060'},
                {name:'虢山',value:1, url:'#position061'},
                {name:'景山',value:1, url:'#position062'},
                {name:'流沙',value:2, url:'#position063'},
                {name:'石者山',value:1, url:'#position064'},
                {name:'女烝山',value:1, url:'#position065'},
                {name:'跂踵山',value:1, url:'#position066'},
                {name:'乐马山',value:1, url:'#position067'},
                {name:'洵山',value:1, url:'#position068'},
                {name:'鸡山',value:1, url:'#position069'},
                {name:'英山',value:1, url:'#position070'},
                {name:'北嚣山',value:1, url:'#position071'},
                {name:'密山',value:1, url:'#position072'},
                {name:'丹熏山',value:1, url:'#position073'},
                {name:'北岳山',value:1, url:'#position074'},
                {name:'扶猪山',value:1, url:'#position075'},
                {name:'符禺山',value:2, url:'#position076'},
                {name:'柢山',value:1, url:'#position077'},
                {name:'伦山',value:1, url:'#position078'},
                {name:'南山',value:1, url:'#position079'},
                {name:'基山',value:2, url:'#position080'},
                {name:'羭次山',value:2, url:'#position081'},
                {name:'莱山',value:1, url:'#position082'},
                {name:'灵山',value:1, url:'#position083'},
                {name:'剡山',value:1, url:'#position084'},
                {name:'空桑山',value:1, url:'#position085'},
                {name:'青丘山',value:2, url:'#position086'},
                {name:'祷过山',value:2, url:'#position087'},
                {name:'浮玉山',value:1, url:'#position088'},
                {name:'騩山',value:1, url:'#position089'},
                {name:'竹山',value:1, url:'#position090'},
                {name:'求如山',value:1, url:'#position091'},
                {name:'英鞮山',value:1, url:'#position092'},
                {name:'狱法山',value:1, url:'#position093'},
                {name:'女床山',value:1, url:'#position094'},
                {name:'太山',value:1, url:'#position095'},
                {name:'橐山',value:1, url:'#position096'},
                {name:'北号山',value:1, url:'#position097'}
            ];
            var geoCoordMap = {
               '樕蛛山':[117.311072,51.103988],
                '藟山':[117.311878,49.50403],
                '栒状山':[117.324443,48.282606],
                '勃垒山':[117.325529,47.51370],
                '番条山':[117.315249,45.445203],
                '姑兒山':[117.334657,44.24261],
                '高氏山':[117.393363,42.165543],
                '岳山':[117.385957,40.544478],
                '犲山':[117.354392,39.303236],
                '独山':[117.384308,38.34706],
                '泰山':[117.382938,36.425030],
                '竹山':[117.372117,35.215958],
                '招摇山':[33.241819,30.554762],
                '堂庭山':[34.583267,30.573554],
                '猨翼山':[37.01115,30.574066],
                '杻阳山':[39.0281,30.581112],
                '柢山':[40.334782,30.531396],
                '擅爰山':[42.421373,30.521343],
                '基山':[44.164668,30.513953],
                '青丘山':[45.533890,30.48172],
                '箕尾山':[47.433637,30.53079],
                '钱来山':[110.392364,34.28254],
                '松果山':[110.242667,34.28966],
                '太华山':[110.52067,34.28885],
                '小华山':[109.39676,34.28277],
                '符禺山':[109.13346,34.274297],
                '石脆山':[108.532835,34.273077],
                '英山':[108.303843,34.271864],
                '竹山':[108.132874,34.27431],
                '浮山':[107.342379,34.272201],
                '羭次山':[107.113742,34.272498],
                '时山':[106.225291,34.265982],
                '南山':[105.273945,34.264358],
                '大时山':[103.142961,34.254356],
                '嶓冢山':[101.295137,34.25138],
                '天帝山':[99.352478,34.244745],
                '皋途山':[97.313631,34.243124],
                '黄山':[96.332699,34.241653],
                '翠山':[95.275188,34.242993],
                '騩山':[94.63860,34.24852],
                '甘枣山':[110.282535,36.72988],
                '历儿山':[110.35402,36.73381],
                '渠猪山':[110.40500,36.72899],
                '葱聋山':[110.514285,36.72940],
                '涹山':[110.564413,36.72421],
                '脱扈山':[111.20980,36.72914],
                '金星山':[111.265728,36.72543],
                '泰威山':[111.501709,36.71380],
                '橿谷山':[111.552245,36.71356],
                '吴林山':[112.351861,36.7239],
                '牛首山':[112.353206,36.145787],
                '霍山':[112.353291,36.255494],
                '合谷山':[112.353827,36.395542],
                '阴山':[112.353521,36.492681],
                '鼓镫山':[114.125708,38.45689],
                '单狐山':[100.45434,34.46162],
                '求如山':[100.451007,35.532768],
                '带山':[100.445168,37.14065],
                '谯明山':[100.451815,39.24924],
                '涿光山':[100.444533,40.355255],
                '虢山':[100.452574,42.133934],
                '虢山的尾部':[100.45770,44.1845],
                '丹熏山':[100.451885,44.551865],
                '石者山':[100.452759,46.102998],
                '边春山':[100.452183,46.394902],
                '蔓联山':[100.45058,47.332628],
                '单张山':[100.451692,48.22190],
                '灌题山':[100.451389,49.475836],
                '潘侯山':[100.451367,50.404954],
                '小咸山':[100.45988,51.431060],
                '大咸山':[100.451073,52.583067],
                '敦薨山':[100.451459,53.301939],
                '少咸山':[100.45783,54.234467],
                '狱法山':[100.45063,55.173716],
                '北岳山':[100.45824,56.111382],
                '浑夕山':[100.451836,56.593599],
                '北单山':[100.445250,57.125088],
                '罴差山':[100.452802,57.395164],
                '北鲜山':[100.451743,58.281020],
                '隄山':[100.451552,59.135707],
                '篇遇山':[111.294897,28.474477],
                '云山':[11.404877,28.382700],
                '龟山':[112.92188,28.14397],
                '丙山':[13.11580,28.14923],
                '凤伯山':[13.12604,28.232842],
                '夫夫山':[13.443511,28.515600],
                '洞庭山':[14.83589,28.31972],
                '暴山':[14.474016,27.563650],
                '即公山':[15.304277,27.182022],
                '尧山':[16.42148,26.472445],
                '江浮山':[16.255170,26.274519],
                '真陵山':[17.254400,26.283408],
                '阳帝山':[17.51481,26.54962],
                '柴桑山':[17.511123,25.413842],
                '荣余山':[18.595899,25.414912],
                '尸胡山':[134.55942,64.225953],
                '岐山':[134.64478,60.483759],
                '诸钩山':[134.62192,57.383996],
                '中父山':[134.101732,54.322543],
                '胡射山':[141.59539,54.37251],
                '孟子山':[142.12501,51.302065],
                '跂踵山':[142.05333,46.592854],
                '踇隅山':[141.591929,43.05068],
                '无皋山':[141.595601,39.243044],
                '煇诸山':[118.84906,35.302188],
                '发视山':[117.215320,34.514693],
                '豪山':[115.433675,34.515129],
                '鲜山':[114.43951,34.513452],
                '阳山':[112.261677,34.512395],
                '昆吾山':[111.204642,34.512222],
                '荔山':[110.405574,34.505768],
                '独苏山':[109.515455,34.513458],
                '蔓渠山':[109.123182,34.51973],
                '翼望山':[99.262094,31.521935],
                '朝歌山':[100.01535,32.204892],
                '帝囷山':[100.453562,31.431359],
                '视山':[100.564411,31.332678],
                '前山':[101.41797,30.551515],
                '禾山':[102.48580,29.575646],
                '兔床山':[105.502782,32.272685],
                '皮山':[106.93743,32.273039],
                '瑶碧山':[106.284616,32.273441],
                '支离山':[106.412763,32.273035],
                '袟周山':[106.525581,32.37425],
                '堇理山':[106.302061,32.562002],
                '依轱山':[106.381709,32.493785],
                '即谷山':[106.46865,32.424835],
                '鸡山':[106.561801,32.341750],
                '高前山':[107.72784,32.243337],
                '游戏山':[107.141734,32.184840],
                '从山':[107.22008,32.12525],
                '婴垔山':[107.284276,32.61719],
                '毕山':[107.352507,32.03432],
                '乐马山':[107.395034,31.563899],
                '葴山':[107.452429,31.515032],
                '婴山':[107.581076,31.514667],
                '虎首山':[108.74416,31.514563],
                '婴侯山':[108.141233,31.514720],
                '大孰山':[108.295903,31.514704],
                '卑山':[108.424505,31.514753],
                '倚帝山':[108.521433,31.514279],
                '鲵山':[109.14200,31.514440],
                '雅山':[109.111663,31.514582],
                '宣山':[109.284276,31.514141],
                '衡山':[109.425817,31.514501],
                '丰山':[109.554086,31.514257],
                '妪山':[110.175488,31.514621],
                '鲜山':[110.272445,31.514591],
                '章山':[110.365230,31.513902],
                '大支山':[110.445001,31.514038],
                '区吴山':[111.04140,31.513900],
                '声匈山':[111.164111,31.512980],
                '大騩山':[111.322966,31.513362],
                '踵臼山':[111.354105,31.513032],
                '历石山':[111.532179,32.25132],
                '求山':[111.531957,31.355057],
                '丑阳山':[112.563437,31.355936],
                '奥山':[114.312752,31.355649],
                '服山':[114.423568,31.36440],
                '杳山':[115.172477,31.36596],
                '几山':[115.503668,31.71842],
                '空桑山':[116.412219,51.433411],
                '曹夕山':[116.415216,49.1086],
                '峄皋山':[114.595165,47.365031],
                '水域':[114.592425,45.21366],
                '葛山的尾部':[114.594411,44.11875],
                '葛山的头部':[114.595803,42.183183],
                '余峨山':[114.595387,40.354607],
                '杜父山':[114.595545,39.143141],
                '耿山':[115.0311,37.532375],
                '卢其山':[114.595465,36.321372],
                '姑射山':[114.594987,34.491773],
                '北姑射山':[114.594245,33.11278],
                '南姑射山':[114.594391,31.401814],
                '碧山':[114.594917,30.184874],
                '缑氏山':[114.593442,28.24504],
                '姑逢山':[114.591893,26.414194],
                '凫丽山':[115.0723,24.264053],
                '石垔山':[115.0333,23.52615],
                '柜山':[35.334451,33.515067],
                '长右山':[37.15174,32.235746],
                '尧光山':[39.31716,32.234226],
                '羽山':[40.545789,32.233388],
                '瞿父山':[42.531668,32.231129],
                '句余山':[45.03889,32.243960],
                '浮玉山':[47.404921,32.243382],
                '成山':[50.193781,32.251504],
                '会稽山':[54.265459,31.494540],
                '夷山':[57.54230,31.502144],
                '仆勾山':[59.434736,31.511100],
                '咸阴山':[62.231827,31.515329],
                '洵山':[64.294720,31.511272],
                '虖勺山':[66.372870,31.513099],
                '区吴山':[69.163565,31.521146],
                '鹿吴山':[71.555174,31.523628],
                '漆吴山':[74.333209,31.53873],
                '天下虞山':[30.435739,30.33952],
                '祷过山':[33.195583,30.3370],
                '丹穴山':[35.553534,30.21199],
                '发爽山':[38.31870,30.14714],
                '旄山的尾部':[40.36052,30.23514],
                '非出山':[42.405599,30.14420],
                '阳夹山':[45.161730,30.2509],
                '灌湘山':[47.512239,30.22696],
                '鸡山':[50.255274,30.22719],
                '令丘山':[52.295937,30.22855],
                '仑者山':[54.251525,30.24225],
                '禺稾山':[57.255042,30.23414],
                '南禺山':[60.262497,30.14206],
                '钤山':[103.155537,33.55648],
                '泰冒山':[102.105506,33.545276],
                '数历山':[101.153477,33.542884],
                '高山':[100.265126,33.541085],
                '女床山':[99.31097,32.472443],
                '龙首山':[98.264649,32.474903],
                '鹿台山':[97.224887,32.475609],
                '鸟危山':[96.37893,32.93128],
                '小次山':[94.30783,32.82567],
                '大次山':[92.54989,32.85347],
                '薰吴山':[90.464237,32.83413],
                '厎阳山':[88.39093,32.85473],
                '众兽山':[87.185063,32.85471],
                '皇人山':[84.39555,32.84768],
                '中皇山':[83.34436,32.84966],
                '西皇山':[81.112448,32.92097],
                '莱山':[79.203667,32.82478],
                '鹿蹄山':[114.171263,34.334769],
                '扶猪山':[114.04258,34.334464],
                '厘山':[113.213067,34.334538],
                '釐山':[112.421680,34.332597],
                '箕尾山':[111.363622,34.331985],
                '柄山':[110.145599,34.331391],
                '白边山':[109.92465,34.331769],
                '熊耳山':[108.35804,34.325209],
                '牡山':[106.253021,34.323707],
                '讙举山':[104.313123,34.325005],
                '苟床山':[96.74313,32.24888],
                '首山':[97.432497,32.243558],
                '县劚山':[99.19738,32.245257],
                '葱聋山':[100.544470,32.24010],
                '条谷山':[102.363736,34.84607],
                '超山':[102.364055,34.112304],
                '成侯山':[105.192745,34.11276],
                '朝歌山':[108.15861,34.111849],
                '隗山':[110.445735,34.102593],
                '历山':[110.481344,34.102716],
                '尸山':[110.512907,34.102808],
                '良余山':[110.544571,34.102814],
                '蛊尾山':[110.57105,34.82944],
                '升山':[111.13260,34.122066],
                '阳虚山':[111.8854,34.122076],
                '敖岸山':[109.414470,34.151941],
                '青要山':[110.173490,34.153502],
                '騩山':[110.532543,34.154042],
                '宜苏山':[111.39005,34.154911],
                '和山':[112.18455,34.154325],
                '景山':[105.202853,26.33263],
                '荆山':[105.413474,26.521696],
                '骄山':[106.131797,27.205993],
                '女几山':[106.392932,27.434894],
                '宜诸山':[107.232621,28.221442],
                '纶山':[108.404112,29.282348],
                '陆危山':[109.255080,30.45521],
                '光山':[110.61273,30.5855],
                '岐山':[110.394867,30.334977],
                '铜山':[111.203616,30.334007],
                '美山':[111.422471,30.524293],
                '大尧山':[112.41264,31.112681],
                '灵山':[113.114086,32.9177],
                '龙山':[113.271819,32.224627],
                '衡山':[113.385036,32.13449],
                '石山':[113.544536,31.593918],
                '若山':[114.214641,31.363654],
                '彘山':[114.483916,31.132280],
                '玉山':[115.214671,30.442650],
                '灌山':[115.365595,30.304611],
                '仁举山':[116.121889,30.572505],
                '师每山':[116.235993,31.62913],
                '琴鼓山':[117.30902,30.84025],
                '管涔山':[112.571220,37.212575],
                '少阳山':[111.565285,36.34537],
                '县雍山':[111.451927,36.435177],
                '狐岐山':[111.452040,37.38385],
                '白沙山':[110.194059,38.442372],
                '尔是山':[108.384567,39.593595],
                '狂山':[108.384445,41.422424],
                '诸余山':[108.385262,43.25805],
                '敦头山':[108.385005,44.594613],
                '鉤吾山':[108.384077,46.341784],
                '姑灌山':[108.384294,48.222091],
                '北嚣山':[108.384240,49.432020],
                '梁渠山':[108.384307,51.175136],
                '湖灌山':[108.384454,53.02636],
                '洹山':[108.384952,56.361524],
                '雁门山':[108.385787,58.24470],
                '敦题山':[108.385440,59.445234],
                '阴山':[110.303898,33.515027],
                '劳山':[110.304029,34.52419],
                '罢父山':[110.142428,34.52381],
                '申山':[110.142457,34.242151],
                '鸟山':[110.142313,35.182938],
                '上申山':[110.142306,35.505852],
                '诸次山':[110.142327,36.394234],
                '号山':[110.142221,37.282231],
                '盂山':[110.142048,38.275419],
                '白於山':[108.481298,38.28920],
                '申首山':[107.34477,39.25206],
                '泾谷山':[107.145340,39.25030],
                '刚山':[106.33216,39.25723],
                '刚山的尾部':[105.231155,39.251415],
                '英鞮山':[103.21921,39.251778],
                '中曲山':[101.363830,39.25481],
                '邽山':[100.55912,39.251375],
                '鸟鼠同穴山':[98.491404,39.252921],
                '崦嵫山':[97.285740,38.11461],
                '北号山':[131.126000,55.256000],
                '旄山':[131.13028,54.51435],
                '东始山':[131.13783,52.393567],
                '女烝山':[132.431166,51.404313],
                '钦山':[133.41845,51.11838],
                '子桐山':[134.381245,50.205973],
                '剡山':[135.391129,50.583622],
                '太山':[136.413806,51.36286],
                '平逢山':[112.505937,34.424941],
                '缟羝山':[112.474273,34.424947],
                '瘣山':[112.442605,34.424979],
                '瞻诸山':[112.343608,34.424855],
                '娄涿山':[112.244604,34.424815],
                '白石山':[112.113927,34.424744],
                '谷山':[111.551561,34.424636],
                '密山':[111.313904,34.424408],
                '长石山':[110.585202,34.423918],
                '傅山':[110.125853,34.423063],
                '橐山':[110.12999,34.325377],
                '常烝山':[109.32383,34.325009],
                '夸父山':[109.102467,34.492165],
                '阳华山':[108.405209,34.492199],
                '休与山':[108.445945,34.242391],
                '鼓钟山':[110.225811,34.244134],
                '姑媱山':[111.273730,34.243225],
                '苦山':[111.34661,34.243282],
                '堵山':[111.425621,34.243154],
                '放皋山':[111.595370,34.243183],
                '大非古山':[112.183015,34.243026],
                '半石山':[112.412280,34.242638],
                '少室山':[112.574295,34.242669],
                '泰室山':[113.73052,34.242626],
                '讲山':[113.73003,34.323273],
                '婴梁山':[113.72987,34.404011],
                '浮戏山':[113.171964,34.403953],
                '少陉山':[113.302600,34.403308],
                '太山':[113.324482,34.383887],
                '末山':[113.391795,34.383894],
                '役山':[113.472820,34.383813],
                '敏山':[113.585601,34.383658],
                '大騩山':[114.84433,34.383546],
                '崇吾山':[102.282972,32.593705],
                '长沙山':[101.222066,33.585813],
                '不周山':[99.585471,35.113228],
                '峚山':[98.211996,36.321640],
                '钟山':[96.40958,37.52375],
                '泰器山':[95.384237,37.52941],
                '槐江山':[91.33882,37.505697],
                '昆仑丘':[90.82507,36.263112],
                '乐游山':[88.53062,35.72912],
                '流沙':[86.411010,35.81966],
                '嬴母山':[85.351394,35.83627],
                '玉山':[84.123737,36.151279],
                '轩辕丘':[81.321349,36.145878],
                '积石山':[79.515074,36.145880],
                '长留山':[78.445995,36.145962],
                '章莪山':[77.112625,36.144067],
                '阴山':[75.311127,36.141150],
                '符惕山':[74.242112,36.141068],
                '三危山':[73.104894,36.135768],
                '騩山':[72.71317,36.14762],
                '天山':[70.102376,36.132106],
                '泑山':[68.332462,36.133822],
                '翼望山':[68.01919,36.134899],
                '归山':[67.55514,35.102540],
                '龙侯山':[68.414856,35.484634],
                '马成山':[69.285493,36.27795],
                '咸山':[69.453252,36.403181],
                '天池山':[70.331062,37.185357],
                '阳山':[72.145023,37.19604],
                '贲闻山':[74.132802,37.191460],
                '王屋山':[74.132759,37.461779],
                '教山':[75.232874,38.42153],
                '景山':[75.232577,37.204637],
                '孟门山':[76.401773,36.20416],
                '平山':[77.561316,35.192311],
                '京山':[79.21645,35.193129],
                '虫尾山':[80.82004,35.193964],
                '彭毗山':[81.473246,35.20295],
                '小侯山':[82.471135,35.20783],
                '泰头山':[84.492772,35.201790],
                '轩辕山':[85.361579,35.583387],
                '谒戾山':[85.361592,36.524216],
                '沮洳山':[87.172937,36.523179],
                '神囷山':[87.173001,38.134282],
                '发鸠山':[87.173086,39.74984],
                '少山':[87.471547,39.304200],
                '锡山':[88.371202,40.84142],
                '景山':[88.371190,41.24691],
                '题首山':[88.371192,41.294946],
                '绣山':[88.371194,41.565201],
                '松山':[88.371253,42.291978],
                '敦与山':[88.371149,43.14453],
                '柘山':[88.371249,43.474741],
                '维龙山':[88.371412,45.85430],
                '白马山':[88.372056,46.461192],
                '泰戏山':[88.372603,48.71562],
                '空桑山':[88.372956,49.281799],
                '石山':[88.373119,50.491775],
                '童戎山':[88.373240,51.432183],
                '高是山':[88.373390,53.42376],
                '陆山':[88.373637,54.25202],
                '沂山':[88.373981,55.19068],
                '燕山':[88.372723,55.512188],
                '饶山':[88.372540,60.21299],
                '乾山':[88.372743,62.85330],
                '伦山':[88.372616,64.232974],
                '碣石山':[88.372849,66.381064],
                '帝都山':[88.371875,70.402723],
                '錞于毋逢山':[88.372325,72.55285],
                '女几山':[94.505647,29.443870],
                '岷山':[95.565780,30.421554],
                '崃山':[96.28389,31.9370],
                '崌山':[97.152393,31.91220],
                '高梁山':[98.495394,31.83841],
                '蛇山':[100.555268,31.73489],
                '鬲山':[103.332109,31.55898],
                '隅阳山':[104.411319,32.3935],
                '岐山':[105.38694,32.504468],
                '勾檷山':[107.142171,32.50710],
                '风雨山':[108.22846,32.495714],
                '玉山':[108.482041,33.28324],
                '熊山':[109.364962,33.275356],
                '騩山':[110.22335,33.274675],
                '葛山':[110.535679,33.05906],
                '贾超山':[111.95038,32.473608],
                '首阳山':[113.84374,33.546000],
                '虎尾山':[112.522935,33.545946],
                '繁缋山':[112.405622,33.452295],
                '勇石山':[112.362132,33.413429],
                '复州山':[112.295267,33.413388],
                '楮山':[112.20945,33.413390],
                '又原山':[112.134070,33.413378],
                '涿山':[111.572868,33.413264],
                '丙山':[111.344953,33.412985]
            };

            var convertData = function (data) {
                var res = [];
                for (var i = 0; i < data.length; i++) {
                    var geoCoord = geoCoordMap[data[i].name];
                    if (geoCoord) {
                        res.push({
                            name: data[i].name,
                            value: geoCoord.concat(data[i].value),
                            url: data[i].url
                        });
                    }
                }
                console.log(res)
                return res;
            };

            option = {
                title: {
                },
                tooltip : {
                    trigger: 'item',
                    formatter: function (param) {
						return param.name + '  ' + param.value[2];
				    }
                },
                bmap: {
                    center: [104.114129, 37.550339],
                    zoom: 5,
                    roam: true,
                    mapStyle: {
                        styleJson: [{
                            'featureType': 'water',
                            'elementType': 'all',
                            'stylers': {
                                'color': '#d1d1d1'
                            }
                        }, {
                            'featureType': 'land',
                            'elementType': 'all',
                            'stylers': {
                                'color': '#f3f3f3'
                            }
                        }, {
                            'featureType': 'railway',
                            'elementType': 'all',
                            'stylers': {
                                'visibility': 'off'
                            }
                        }, {
                            'featureType': 'highway',
                            'elementType': 'all',
                            'stylers': {
                                'color': '#fdfdfd'
                            }
                        }, {
                            'featureType': 'highway',
                            'elementType': 'labels',
                            'stylers': {
                                'visibility': 'off'
                            }
                        }, {
                            'featureType': 'arterial',
                            'elementType': 'geometry',
                            'stylers': {
                                'color': '#fefefe'
                            }
                        }, {
                            'featureType': 'arterial',
                            'elementType': 'geometry.fill',
                            'stylers': {
                                'color': '#fefefe'
                            }
                        }, {
                            'featureType': 'poi',
                            'elementType': 'all',
                            'stylers': {
                                'visibility': 'off'
                            }
                        }, {
                            'featureType': 'green',
                            'elementType': 'all',
                            'stylers': {
                                'visibility': 'off'
                            }
                        }, {
                            'featureType': 'subway',
                            'elementType': 'all',
                            'stylers': {
                                'visibility': 'off'
                            }
                        }, {
                            'featureType': 'manmade',
                            'elementType': 'all',
                            'stylers': {
                                'color': '#d1d1d1'
                            }
                        }, {
                            'featureType': 'local',
                            'elementType': 'all',
                            'stylers': {
                                'color': '#d1d1d1'
                            }
                        }, {
                            'featureType': 'arterial',
                            'elementType': 'labels',
                            'stylers': {
                                'visibility': 'off'
                            }
                        }, {
                            'featureType': 'boundary',
                            'elementType': 'all',
                            'stylers': {
                                'color': '#fefefe'
                            }
                        }, {
                            'featureType': 'building',
                            'elementType': 'all',
                            'stylers': {
                                'color': '#d1d1d1'
                            }
                        }, {
                            'featureType': 'label',
                            'elementType': 'labels.text.fill',
                            'stylers': {
                                'color': '#999999'
                            }
                        }]
                    }
                },
                series : [
                    {
                        type: 'scatter',
                        coordinateSystem: 'bmap',
                        data: convertData(data),
                        symbolSize: function (val) {
                            return (val[2]*5+80)/10;
                        },
                        label: {
                            normal: {
                                formatter: '{b}',
                                position: 'right',
                                show: false
                            },
                            emphasis: {
                                show: true
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: 'purple'
                            }
                        }
                    },
                    {
                        name: 'Top 5',
                        type: 'effectScatter',
                        coordinateSystem: 'bmap',
                        data: convertData(data.sort(function (a, b) {
                                return b.value - a.value;
                            }).slice(0, 6)),
                        symbolSize: function (val) {
                            return (val[2]*5+80)/10;
                        },
                        showEffectOn: 'render',
                        rippleEffect: {
                            brushType: 'stroke'
                        },
                        hoverAnimation: true,
                        label: {
                            normal: {
                                formatter: '{b}',
                                position: 'right',
                                show: true
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: 'purple',
                                shadowBlur: 10,
                                shadowColor: '#333'
                            }
                        },
                        zlevel: 1
                    }
                ]
            };
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
                myChart.on("click",function(e){
                    console.log(e);
                    //window.open(e.data.url);
                    location.href=e.data.url;
                });
            }
       </script>
	<!-- ========== Scripts ========== -->
	<script src="../static/js/jquery-3.1.1.min.js"></script>
	<script src="../static/js/menu.js"></script>
	<script src="../static/js/jquery.localScroll.min.js"></script>
	<script src="../static/js/jquery.scrollTo.min.js"></script>
	<script src="../static/js/SmoothScroll.js"></script>
	<script src="../static/js/wow.min.js"></script>
	<!-- Definity JS -->
	<script src="../static/js/main.js"></script>

</div>
</body></html>