# Testing Report

### 妖怪搜索

​		搜索功能分布在主界面。

![img](http://m.qpic.cn/psb?/de06b7ca-68f9-4534-a891-7c70327ebeaa/xpAH2ztSkxoqtWemAzGz1lIorbjw0rfZRfRe18uDvo4!/b/dL4AAAAAAAAA&bo=WweqAQAAAAADN.U!&rf=viewer_4)

​		若搜索的妖怪处于数据库中，则直接跳转到该妖怪的个人介绍页。

![img](http://m.qpic.cn/psb?/de06b7ca-68f9-4534-a891-7c70327ebeaa/qFZdE548cCZH8gn8GVSF90ji8HM1173upibubCpyQf8!/b/dL8AAAAAAAAA&bo=UwdQAwAAAAADR2U!&rf=viewer_4)

​		若搜索不存在的妖怪，则跳转到404页面。

![img](http://m.qpic.cn/psb?/de06b7ca-68f9-4534-a891-7c70327ebeaa/RU87oBxg.Eooh.GgLnYV5bCKBoX6HOojlpemhzj46d8!/b/dL8AAAAAAAAA&bo=TwcYAwAAAAADF2E!&rf=viewer_4)

### 推荐妖怪

​		此为主界面的一部分，展示的是小组成员内定的推荐的有趣妖怪。

![img](http://m.qpic.cn/psb?/de06b7ca-68f9-4534-a891-7c70327ebeaa/cp0E*Qva0u8O5QSqiJVlZ9l6ilFqkFZjWdyz2oN3Yk8!/b/dE0BAAAAAAAA&bo=QAcmBAAAAAADh8c!&rf=viewer_4)

### 妖怪图鉴

​		该项功能主要介绍每本古籍中所涉及的妖怪。可以通过导航栏访问：

![img](http://m.qpic.cn/psb?/de06b7ca-68f9-4534-a891-7c70327ebeaa/dxNFdGCp*d.QP*o.xQvcAymsnvifE5yvhtMUmSMe9P4!/b/dL4AAAAAAAAA&bo=qwQiAQAAAAADN54!&rf=viewer_4)

​		跳转到图鉴的目录页：

![img](http://m.qpic.cn/psb?/de06b7ca-68f9-4534-a891-7c70327ebeaa/arNEg94eVtiQ9ob4iHwQUTaOqMZns3EeME6yj2mCIc0!/b/dL8AAAAAAAAA&bo=0gQ4BAAAAAADZ6g!&rf=viewer_4)

​		点击任一古籍，即可跳转到该书所含的所有妖怪名称:

![img](http://m.qpic.cn/psb?/de06b7ca-68f9-4534-a891-7c70327ebeaa/FAke9kFSVvZeiMJ1FdFQZ0aAYBZ.ICDG3o*c4RGjImE!/b/dLgAAAAAAAAA&bo=OARFBAAAAAADN28!&rf=viewer_4)

​		该项功能同样可以通过主页面访问。

![img](http://m.qpic.cn/psb?/de06b7ca-68f9-4534-a891-7c70327ebeaa/ER9O7hEH652ALCfPGjhcAUBkdq1x7m7hznUU5utjNTE!/b/dAUBAAAAAAAA&bo=agf9AwAAAAADhzE!&rf=viewer_4)



### 志怪分布图

​		该项功能可在主页面访问，也可以直接通过导航栏访问。

![img](http://m.qpic.cn/psb?/de06b7ca-68f9-4534-a891-7c70327ebeaa/C9qfDn7*YeQPm7kLwiD82Tzadk7meOCbvY9Au3LbKNc!/b/dFMBAAAAAAAA&bo=1QORAAAAAAADF3U!&rf=viewer_4)

![img](http://m.qpic.cn/psb?/de06b7ca-68f9-4534-a891-7c70327ebeaa/hkWO8VFFH047aR7SUXK0K3d1FFo5JmvSQxR9d0AMs5U!/b/dL8AAAAAAAAA&bo=agcwBAAAAAADZxs!&rf=viewer_4)

​		该项功能主要是根据妖怪的分布地属性，在地图上画出妖怪的分布统计图。

​		根据点的大小可以直接得出哪个地方的妖怪最多。

​		点击地图上的点，即可跳转到相应地点所包含的所有妖怪名称。点击妖怪名称，即可跳转到该妖怪的个人介绍页。

![img](http://m.qpic.cn/psb?/de06b7ca-68f9-4534-a891-7c70327ebeaa/Nh6ytrVce8HbWuKVLW6595qqW.Befwx52tczlWB42bo!/b/dL8AAAAAAAAA&bo=fgY4BAAAAAADRyY!&rf=viewer_4)

### 志怪壹零壹

​		模仿选修节目创造101，小组成员通过内评，选出600+怪物中长相能力最有优势的十一位妖怪。

![img](https://m.qpic.cn/psb?/de06b7ca-68f9-4534-a891-7c70327ebeaa/p4eMkjy4d0SCCYVMqz*O33WLBgqd0.OATY0WM0MX34s!/b/dDYBAAAAAAAA&bo=cQejAgAAAAADB*U!&rf=viewer_4)

​		点击图片右边部分的链接，即可跳转到相关妖怪的个人界面。例如：点击肉芝

![img](http://m.qpic.cn/psb?/de06b7ca-68f9-4534-a891-7c70327ebeaa/IP0cYQyw*9yz0swN888TCWn.GFVlI6qoAH032WORazw!/b/dL8AAAAAAAAA&bo=OATxBwAAAAADZ4g!&rf=viewer_4)

### 添加怪物

​		用户可以通过导航栏添加新的怪物信息。

![img](http://m.qpic.cn/psb?/de06b7ca-68f9-4534-a891-7c70327ebeaa/Qi1nYbsWJtGYzsJfrTm3g.hWpgGIO0SLYAzi1tCH5UA!/b/dL4AAAAAAAAA&bo=OARyBAAAAAADRyg!&rf=viewer_4)

​		添加完成后，数据会存到相应的数据库中，并且页面会直接跳转到新怪物的个人介绍页。

![img](http://m.qpic.cn/psb?/de06b7ca-68f9-4534-a891-7c70327ebeaa/vCYruuLNEitsTHvjgqFHwByPb9COwM0Zos.zEztihE4!/b/dFMBAAAAAAAA&bo=OAS9CAAAAAADd9s!&rf=viewer_4)

### 妖怪个人介绍页

​		妖怪的个人介绍包括名称，别称，白话故事，古文引用，活动地点，外貌，技能，图片，以及所有用户对该妖怪的评价。

​		具体页面已在上述部分显示。

### 妖怪评价

​		每个妖怪都有自己的评价的数据库记录，用户只需在评价栏填写并提交，即可在页面上显示新的评价。

​	![img](http://m.qpic.cn/psb?/de06b7ca-68f9-4534-a891-7c70327ebeaa/EOLed4ANWi2.JqP1*FhW8ymXKQtrAHZJ4NMa*Wb5yLE!/b/dL8AAAAAAAAA&bo=PQfnAgAAAAADN80!&rf=viewer_4)

![img](http://m.qpic.cn/psb?/de06b7ca-68f9-4534-a891-7c70327ebeaa/cS5nBsEw3u.yl4Lu8Qq0XV4ca3fiK18YInzGnSFzHX0!/b/dD4BAAAAAAAA&bo=RgehAQAAAAADN*M!&rf=viewer_4)